In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [4]:
df=pd.read_csv("bank-full.csv",sep=';')

In [5]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [7]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [9]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [10]:
x=df.drop("y",axis=1)
y=df["y"]

In [35]:
#Encode categorical variables:
label_encoders = {}
categorical_cols = ["job", "marital", "education", "default", "housing", "loan", "contact", "month", "poutcome"]
for col in categorical_cols:
    le = LabelEncoder()
    x[col] = le.fit_transform(x[col])
    label_encoders[col] = le

In [56]:
x

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,1.606965,4,1,2,0,0.256419,1,0,2,-1.298476,8,0.011016,-0.569351,-0.411453,-0.251940,3
1,0.288529,9,2,1,0,-0.437895,1,0,2,-1.298476,8,-0.416127,-0.569351,-0.411453,-0.251940,3
2,-0.747384,2,1,1,0,-0.446762,1,1,2,-1.298476,8,-0.707361,-0.569351,-0.411453,-0.251940,3
3,0.571051,1,1,3,0,0.047205,1,0,2,-1.298476,8,-0.645231,-0.569351,-0.411453,-0.251940,3
4,-0.747384,11,2,3,0,-0.447091,0,0,2,-1.298476,8,-0.233620,-0.569351,-0.411453,-0.251940,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.947747,9,1,2,0,-0.176460,0,0,0,0.143418,9,2.791329,0.076230,-0.411453,-0.251940,3
45207,2.831227,5,0,0,0,0.120447,0,0,0,0.143418,9,0.768224,-0.246560,-0.411453,-0.251940,3
45208,2.925401,5,1,1,0,1.429593,0,0,0,0.143418,9,3.373797,0.721811,1.436189,1.050473,2
45209,1.512791,1,1,1,0,-0.228024,0,0,1,0.143418,9,0.970146,0.399020,-0.411453,-0.251940,3
45210,-0.370689,2,1,1,0,0.528364,0,0,0,0.143418,9,0.399328,-0.246560,1.476138,4.523577,1

In [37]:
scaler = StandardScaler()
numerical_cols = ["age", "balance", "day", "duration", "campaign", "pdays", "previous"]
x[numerical_cols] = scaler.fit_transform(x[numerical_cols])

In [38]:
x

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,1.606965,4,1,2,0,0.256419,1,0,2,-1.298476,8,0.011016,-0.569351,-0.411453,-0.251940,3
1,0.288529,9,2,1,0,-0.437895,1,0,2,-1.298476,8,-0.416127,-0.569351,-0.411453,-0.251940,3
2,-0.747384,2,1,1,0,-0.446762,1,1,2,-1.298476,8,-0.707361,-0.569351,-0.411453,-0.251940,3
3,0.571051,1,1,3,0,0.047205,1,0,2,-1.298476,8,-0.645231,-0.569351,-0.411453,-0.251940,3
4,-0.747384,11,2,3,0,-0.447091,0,0,2,-1.298476,8,-0.233620,-0.569351,-0.411453,-0.251940,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.947747,9,1,2,0,-0.176460,0,0,0,0.143418,9,2.791329,0.076230,-0.411453,-0.251940,3
45207,2.831227,5,0,0,0,0.120447,0,0,0,0.143418,9,0.768224,-0.246560,-0.411453,-0.251940,3
45208,2.925401,5,1,1,0,1.429593,0,0,0,0.143418,9,3.373797,0.721811,1.436189,1.050473,2
45209,1.512791,1,1,1,0,-0.228024,0,0,1,0.143418,9,0.970146,0.399020,-0.411453,-0.251940,3
45210,-0.370689,2,1,1,0,0.528364,0,0,0,0.143418,9,0.399328,-0.246560,1.476138,4.523577,1

In [39]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=42)

In [42]:
xtrain['age_balance_ratio'] = xtrain['age'] / xtrain['balance']
xtest['age_balance_ratio'] = xtest['age'] / xtest['balance']

In [45]:
rf_model = RandomForestClassifier(random_state=42)

In [46]:
rf_model.fit(xtrain,ytrain)

RandomForestClassifier(random_state=42)

In [47]:
ypred=rf_model.predict(xtest)

In [48]:
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

          no       0.92      0.97      0.94      7952
         yes       0.64      0.40      0.49      1091

    accuracy                           0.90      9043
   macro avg       0.78      0.69      0.72      9043
weighted avg       0.89      0.90      0.89      9043

In [57]:
def preprocess_input(user_input):
    # Convert user input to DataFrame
    input_df = pd.DataFrame([user_input])
    
    # Apply label encoding for categorical features
    for col in categorical_cols:
        if col in label_encoders:
            try:
                input_df[col] = label_encoders[col].transform([user_input[col]])
            except ValueError:
                # Handle unseen categories by assigning a default category (e.g., -1)
                input_df[col] = -1
    # Apply scaling
    input_df[numerical_cols] = scaler.transform(input_df[numerical_cols])
    
    # Create interaction term
    input_df['age_balance_ratio'] = input_df['age'] / input_df['balance']
    
    return input_df


# Function to predict using user input
def predict_user_input(user_input):
    try:
        preprocessed_input = preprocess_input(user_input)
        prediction_probs = rf_model.predict_proba(preprocessed_input)
        prediction = prediction_probs[0][1] * 100  # Convert to percentage
        return f'The probability of lead converting into a customer is {prediction:.2f}%'
    except Exception as e:
        return f'Error in prediction: {str(e)}'

user_input = {
    'age': 41,
    'job': 'technician',
    'marital': 'single',
    'education': 'secondary',
    'default': 'no',
    'balance': 1000,
    'housing': 'yes',
    'loan': 'no',
    'contact': 'unknown',
    'day': 6,
    'month': 'may',
    'duration': 1400,
    'campaign': 1,
    'pdays': 1,
    'previous': 0,
    'poutcome': 'unknown'
}

# Make prediction
prediction_result = predict_user_input(user_input)
print(prediction_result)

The probability of lead converting into a customer is 62.00%